<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="css/style-home.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/Grazioso Salvare Logo.png" />
</head>

<body>

    <form name="signup" action="/auth/signIn" method="post">
        username: <input name="username" id="username" style="color:black" /><br />
        password: <input type="password" name="password" id="password" style="color:black" /><br />
        <input type="submit" value="SIGN IN" class="btn btn-primary btn-lg"></input>
    </form>

</body>

</html>